<%= form_for(@cantante) do |f| %>
<% if @cantante.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@cantante.errors.count, "error") %> prohibited this cantante from being saved:</h2>

    <ul>
        <% @cantante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field mdl-textfield mdl-js-textfield">
    <%= f.text_field :nombre, pattern:"[A-Z,a-z, ]*", class:"mdl-textfield__input"  %>
    <%= f.label :nombre, class:"mdl-textfield__label" %>
    <span class="mdl-textfield__error" >Sole se aceptan letras y espacios...</span>
</div>
<div class="actions">
    <%= f.submit class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored", value:"Guardar" %>
</div>
<% end %>
