<secrion class="mdl-grid mdl-cell  mdl-cell--1-offset-desktop mdl-cell--10-col">
    <article class="mdl-cell mdl-cell--12-col relative bg-teal mdl-shadow--2dp">
        <h1 class="titulo-medio">Acordes Cantantes Cristianos</h1>
        <div class="mdl-cell--hide-phone opcion-right">
            <button id="opciones-cantante-index" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="fa fa-ellipsis-v"></i>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="opciones-cantante-index">
                <%= link_to new_cantante_path do %>
                <li class="mdl-menu__item">Agregar Cantante</li>
                <%end%>
            </ul>
        </div>
    </article>


    <article class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col">
        <ul class="mdl-cell mdl-cell--12-col mdl-list bg-blanco mdl-shadow--2dp">
         <% @cantantes.each do |cantante| %>
<%= link_to cantante, class:"link-resource"  do%>
         <li class="mdl-list__item mdl-list__item--two-line">
             <span class="mdl-list__item-primary-content "> 
             <span class="mdl-list__item-avatar">
                    <img src="https://image.jimcdn.com/app/cms/image/transf/dimension=200x10000:format=gif/path/s7a57f93bd15628ea/image/i55bb902ce9c40019/version/1279206752/image.gif" width="45px" height="auto" style="border-radius:100%;"/>   
                    </span>
                
                    <span><%= cantante.nombre %></span>
                
                <span class="mdl-list__item-sub-title">
                    <%= cantante.songs.count %> acordes
                </span>
                
            </span>
        </li>
        <%end%>
<!--
<%= link_to 'Show', cantante %>
<%= link_to 'Edit', edit_cantante_path(cantante) %>
<%= link_to 'Destroy', cantante, method: :delete, data: { confirm: 'Are you sure?' } %>-->

<% end %>
</ul>
</article>
</secrion>