<div class="mdl-cell mdl-cell--12-col relative">
	<section class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet card-cantante mdl-cell--12-col-phone">
		<div class="mdl-shadow--2dp">
			<div class="mdl-card__title bg-teal relative">
				<h1 class="mdl-card__title-text" >Acordes <%= @cantante.nombre %></h1>
				<div class="mdl-cell--hide-phone opcion-right">
					<button id="opciones-cantante" class="mdl-button mdl-js-button mdl-button--icon">
						<i class="material-icons">more_vert</i>
					</button>

					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="opciones-cantante">
						<%= link_to edit_cantante_path(@cantante) do %>
						<li class="mdl-menu__item">Editar</li>
						<%end%>
						<%= link_to new_cantante_song_path(@cantante) do %>
						<li class="mdl-menu__item">Agregar Canción</li>
						<%end%>
						<%= link_to new_cantante_album_path(@cantante) do %>
						<li class="mdl-menu__item">Agregar Album</li>
						<%end%>
					</ul>
				</div>
			</div>
			<img src="https://tiempodeavivamiento.files.wordpress.com/2014/05/danilo-montero-4-610x250.jpg" width="100%" height="auto" alt="<%= @cantante.nombre %>" >

		</div>

	</section>

	<section class="mdl-cell mdl-cell--7-col mdl-cell--12-col-phone mdl-cell--12-col-tablet card-colecciones ">
		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect ">
			<div class="mdl-tabs__tab-bar bg-blanco margin-bottom mdl-shadow--2dp">
				<a href="#acordes" class="mdl-tabs__tab is-active">Acordes</a>
				<a href="#albums" class="mdl-tabs__tab">Albumes</a>
			</div>
			<%= render 'cantantes/colecciones/songs' %>
			<%= render 'cantantes/colecciones/albums' %>
		</div>

	</section>
</div>