<div class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-shadow--2dp bg-blanco mdl-grid mdl-grid--no-spacing">

        <div class="back mdl-cell mdl-cell--1-col mdl-cell--2-col-tablet mdl-cell--1-col-phone text-center">
            <%= link_to @song.cantante, class:"mdl-button mdl-js-button  mdl-button--accent" do %>
            <%= material_icon.chevron_left.md_36 %>
            <%end%>
        </div>
        <div class=" text-center texto-acorde mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone ">
            <%= link_to "#", class:"mdl-button mdl-js-button  mdl-button--colored prevenir", id:"manejar-texto" do %>
            <%= material_icon.format_size.md_36 %>
            <%end%>
            <div class="mdl-tooltip mdl-tooltip--large" for="manejar-texto">
                Cambiar tamaño de letra
            </div>
            <%= link_to "#", class:"mdl-button mdl-js-button mdl-button--icon mdl-button--accent prevenir", id:"aumentar-texto" do %>
            <%= material_icon.add.md_24 %>
            <%end%>
            <%= link_to "#", class:"mdl-button mdl-js-button mdl-button--icon mdl-button--accent prevenir", id:"disminuir-texto" do %>
            <%= material_icon.remove.md_24 %>
            <%end%>
        </div>

        <div class=" text-center tono-acorde mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone ">
            <%= link_to "#", class:"mdl-button mdl-js-button  mdl-button--colored prevenir", id:"manejar-tono" do %>
            <%= material_icon.music_note.md_36 %>
            <%end%>
            <div class="mdl-tooltip mdl-tooltip--large" for="manejar-tono">
                Cambiar tonalidad de los acordes
            </div>
            <%= link_to "#", class:"mdl-button mdl-js-button mdl-button--icon mdl-button--accent prevenir", id:"aumentar-tono" do %>
            <%= material_icon.add.md_24 %>
            <%end%>
            <%= link_to "#", class:"mdl-button mdl-js-button mdl-button--icon mdl-button--accent prevenir", id:"disminuir-tono" do %>
            <%= material_icon.remove.md_24 %>
            <%end%>
        </div>
        <div class=" text-center line-acorde mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">
            <%= link_to "#", class:"mdl-button mdl-js-button  mdl-button--colored prevenir", id:"manejar-espacio" do %>
            <%= material_icon.format_line_spacing.md_36 %>
            <%end%>
            <div class="mdl-tooltip mdl-tooltip--large" for="manejar-espacio">
                Cambiar espacio entre lineas
            </div>
            <%= link_to "#", class:"mdl-button mdl-js-button mdl-button--icon mdl-button--accent prevenir", id:"aumentar-espacio" do %>
            <%= material_icon.arrow_drop_up.md_24 %>
            <%end%>
            <%= link_to "#", class:"mdl-button mdl-js-button mdl-button--icon mdl-button--accent prevenir", id:"disminuir-espacio" do %>
            <%= material_icon.arrow_drop_down.md_24 %>
            <%end%>
        </div>


        <div class="undo text-center mdl-cell mdl-cell--2-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone ">
            <%= link_to "#", class:"mdl-button mdl-js-button  mdl-button--colored prevenir", id:"reboot" do %>
            <%= material_icon.undo.md_36 %>
            <%end%>
            <div class="mdl-tooltip mdl-tooltip--large" for="reboot">
                Reiniciar tono
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--8-col bg-blanco mdl-grid mdl-shadow--2dp relative mdl-grid--no-spacing relative">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--10-col">
            <h1 class="titulo-cancion">Acordes <%= @song.nombre %></h1>
            <h2 class="cantante-cancion"><i class="fa fa-user"></i> <%= link_to @song.cantante.nombre, @cantante %></h2>
            <h2 class="album-cancion"><i class="fa fa-music"></i> <%= link_to @song.album.nombre, cantante_album_path(@cantante, @song.album) %></h2>
            <div class="mdl-cell--hide-phone opcion-right">
                <button id="opciones-cancion" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="opciones-cancion">
                    <%= link_to edit_cantante_song_path(@cantante,@song) do %>
                    <li class="mdl-menu__item">Editar</li>
                    <%end%>
                    <%= link_to new_cantante_song_acorde_path(@cantante, @song) do %>
                    <li class="mdl-menu__item">Agregar nueva versión de acordes</li>
                    <%end%>
                </ul>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class=" mdl-cell--12-col">
            <section>
                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                  <div class="mdl-tabs__tab-bar">
                      <% @song.acordes.each do |acorde| %>

                      <%= link_to "##{acorde.id}", "#version_" + "#{acorde.id}" ,class:"get-acorde mdl-tabs__tab ", data:{direction:cantante_song_acorde_path(@cantante, @song, acorde) + ".json", version:"version_" + acorde.id.to_s } %>
                      <% end %>
                  </div>

                  <% @song.acordes.each do |acorde| %>
                  <article class="mdl-tabs__panel contenedor-acordes mdl-grid mdl-grid--no-spacing" id="version_<%= acorde.id %>">
                      <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--10-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone coleccion-acciones mdl-grid mdl-grid--no-spacing">
                          <%= link_to "#", class:"mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect mdl-cell mdl-cell--1-col-phone mdl-cell--2-col-desktop mdl-cell--hide-phone mdl-cell--hide-tablet" do %>
                          <i class="material-icons">print</i>
                          <%end%>
                          <%= link_to "#", class:"mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect mdl-cell mdl-cell--1-col-phone mdl-cell--2-col-desktop" do %>
                          <i class="material-icons">thumb_down</i>
                          <%end%>
                          <%= link_to "#", class:"mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect mdl-cell mdl-cell--1-col-phone mdl-cell--2-col-desktop" do %>
                          <i class="material-icons">thumb_up</i>
                          <%end%>
                          <%= link_to "#", class:"mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect mdl-cell mdl-cell--1-col-phone mdl-cell--2-col-desktop" do %>
                          <i class="material-icons">favorite</i>
                          <%end%>
                          <%= link_to edit_cantante_song_acorde_path(@cantante, @song, acorde), class:"mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect mdl-cell mdl-cell--1-col-phone mdl-cell--2-col-desktop mdl-cell--hide-phone mdl-cell--hide-tablet" do %>
                          <i class="material-icons">edit</i>
                          <%end%>
                          <%= link_to "#", class:"mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect mdl-cell mdl-cell--1-col-phone mdl-cell--2-col-desktop" do %>
                          <i class="material-icons">wc</i>
                          <%end%>
                      </div>

                      <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--1-offset-tablet mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone current-acorde"></div>
                      <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--1-offset-tablet mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--4-col-phone current-descripcion"></div>
                  </article>
                  <% end %>
              </div>
          </section>
      </div>

  </div>

</div>



</div>
