<div class="mdl-tabs__panel" id="new_acorde">
<div class="mdl-grid">
	<%= form_for(@acorde) do |f| %>
			<% if @acorde.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@acorde.errors.count, "error") %> prohibited this acorde from being saved:</h2>

				<ul>
					<% @acorde.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
			<% end %>

			<div class="field mdl-textfield mdl-js-textfield mdl-cell md-cell--6-col">
				<%= f.text_field :cantante_id, class:"mdl-textfield__input" %>
				<%= f.label :cantante_id, class:"mdl-textfield__label" %>
			</div>
			<div class="field mdl-textfield mdl-js-textfield mdl-cell md-cell--6-col">
				<%= select "acorde", "album_id", @cantante.albums.collect {|a| [ a.nombre , a.id ] } %>
				<%= f.label :album_id, class:"mdl-textfield__label"  %>
			</div>
			<div class="field mdl-textfield mdl-js-textfield mdl-cell md-cell--6-col">
				<%= f.text_field :nombre, class:"mdl-textfield__input" %>
				<%= f.label :nombre, class:"mdl-textfield__label"  %>
			</div>
			<div class="field mdl-textfield mdl-js-textfield mdl-cell md-cell--12-col">
				<%= f.text_area :acorde, class:"mdl-textfield__input", type:"text"%>
				<%= f.label :acorde, class:"mdl-textfield__label"  %>
			</div>
			<div class="field mdl-textfield mdl-js-textfield mdl-cell md-cell--6-col">
				<%= f.text_field :descripcion, class:"mdl-textfield__input" %>
				<%= f.label :descripcion, class:"mdl-textfield__label"  %>
			</div>
			<div class="actions">
				<%= f.submit %>
			</div>
			<% end %>
</div>			
</div>