<%= form_for([@cantante, @album]) do |f| %>
<% if @album.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

  <ul>
    <% @album.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field mdl-textfield mdl-js-textfield">
<%= f.text_field :nombre, class:"mdl-textfield__input" %>
  <%= f.label :nombre, class:"mdl-textfield__label" %>
</div>
<div class="field mdl-textfield mdl-js-textfield">
  <%= f.text_field :year, class:"mdl-textfield__input" %>
  <%= f.label :year, class:"mdl-textfield__label" %>
</div>  
<div class="actions">
   <%= f.submit class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored", value:"Guardar" %>
</div>
<% end %>
