<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @album.nombre %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<p>
  <strong>Cantante:</strong>
  <%= @album.cantante.nombre %>
</p>

<% @acordes.each do |acorde|%>
	<li><%= link_to acorde.nombre, cantante_acorde_path(@cantante, acorde) %></li>
<%end%>


<%= link_to 'Edit', edit_cantante_album_path(@cantante, @album) %> |
<%= link_to 'Back', @album.cantante %>
