<!---->
<section class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col mdl-cell--4-col-phone" >
	<article class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col cover relative mdl-shadow--2dp" style="background-image: url('http://s10.postimg.org/tmmfqxfhl/Cover.jpg')">
		<div class="album-info">
			<div class="info">
				<h1><%= @album.nombre %></h1>
				<h2><%= @album.year %></h2>
				<%= link_to cantante_path(@album.cantante) do %>
				<h2><%= @album.cantante.nombre %></h2>
				<%end%>
			</div>
		</div>
	</article>
	<article class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col song-album mdl-cell--4-col-phone mdl-shadow--2dp">
		<ul class="mdl-cell mdl-cell--12-col mdl-list bg-blanco mdl-shadow--2dp">
			<% @acordes.each do |acorde|%>
			<%= link_to cantante_acorde_path(@cantante, acorde), class:"link-resource" do %>
			<li class="mdl-list__item">
				<span class="mdl-list__item-primary-content">
					<i class="fa fa-music mdl-list__item-icon"></i>
					<%= acorde.nombre%> acordes
				</span>
			</li>
			<%end%>

			<%end%>
		</ul>
		<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone" style="display: none;">
			<%= link_to 'Edit', edit_cantante_album_path(@cantante, @album) %> |
			<%= link_to 'Back', @album.cantante %>
		</div>
	</article>
</section>