<%= form_for([@cantante, @acorde]) do |f| %>
<% if @acorde.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@acorde.errors.count, "error") %> prohibited this acorde from being saved:</h2>

    <ul>
        <% @acorde.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<br>
<div class="field mdl-selectfield mdl-cell mdl-cell--12-col">
    <%= f.label :album_id %>
    <%= collection_select(:acorde, :album_id, @cantante.albums, :id, :nombre, prompt:"Selecciona un Album", html:{class:"browser-default"})%>
</div>
<br>
<div class="field mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
    <%= f.text_field :nombre,class:"mdl-textfield__input" %>
    <%= f.label :nombre, "Titulo de la Canción", class:"mdl-textfield__label" %>
</div>
<br>
<div class="field mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
    <%= f.text_area :acorde,class:"mdl-textfield__input", type:"text", rows:"25", id:"acorde_text_area" %>
    <%= f.label :acorde, "Acordes de la Canción", class:"mdl-textfield__label", for:"acorde_text_area" %>
</div>
<br>
<div class="field mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
    <%= f.text_field :descripcion,class:"mdl-textfield__input" %>
    <%= f.label :descripcion, class:"mdl-textfield__label" %>
</div>


<div class="actions">
    <%= f.submit class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored", value:"Guardar" %>
</div>
<% end %>
