<%= form_for(@acorde) do |f| %>
<% if @acorde.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@acorde.errors.count, "error") %> prohibited this acorde from being saved:</h2>

    <ul>
        <% @acorde.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field mdl-textfield mdl-js-textfield">
    <%= f.text_field :cantante_id %>
    <%= f.label :cantante_id %>
</div>
<div class="field mdl-textfield mdl-js-textfield">
    <%= f.text_field :album_id %>
    <%= f.label :album_id %>
</div>
<div class="field mdl-textfield mdl-js-textfield">
    <%= f.text_field :nombre %>
    <%= f.label :nombre %>
</div>
<div class="field mdl-textfield mdl-js-textfield">
    <%= f.text_area :acorde %>
    <%= f.label :acorde %>
</div>
<div class="field mdl-textfield mdl-js-textfield">
    <%= f.text_field :descripcion %>
    <%= f.label :descripcion %>
</div>


<div class="actions">
    <%= f.submit %>
</div>
<% end %>
