<!DOCTYPE html>
<html>
<head>
	<title>Albnza | Bienvenido</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="mdl-layout mdl-js-layout" >
		<%= render 'partials/nav'%>
		<main class="mdl-layout__content">
		<p id="notice" style="display: none;"><%= notice %></p>
			<div class="mdl-grid mdl-grid--no-spacing">
				<%= yield %>
			</div>
		</main>
	</div>
</body>
</html>
